
<div class="about-section">
    <h1>About Us Page</h1>
    <p>Some text about who we are and what we do.</p>
    <p>Resize the browser window to see that this page is responsive by the way.</p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Jane Doe</h2>
          <p class="title">CEO & Founder</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>jane{{ '\u0040' }}example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Romel Singh</h2>
          <p class="title">Full Stack Software Developer</p>
          <p>Love the outdoors, nature, religion, science, animals.</p>
          <p>I believe service to mankind is a service to god.</p>
          <p>Software Development is my most loved passion, and I am challenge driven.</p>
          <p>romelsngh{{ '\u0040' }}gmail.com</p>
          <p><button class="button" route="/contactus">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>John Doe</h2>
          <p class="title">Designer</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>john{{ '\u0040' }}example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>